<div class="container">
    <div class="card">
        <div class="card-header">
        Detalhes da viagem
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Destino</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Data de chegada</th>
                    <th scope="col">Data de saída</th>
                    <th scope="col">Orçamento</th>
                    <th scope="col">Qtde. de pessoas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">São Paulo</th>
                    <td>LAZER</td>
                    <td>18/06/2023</td>
                    <td>25/06/2023</td>
                    <td>R$4.000,00</td>
                    <td>4</td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Voltar</button>
        </div>
    </div>
</div>
